* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
}

.signup_container {
  margin-top: 100px;
  background-color: white;
  padding: 40px;
  border-radius: 15px;
}

.signin_container {
  margin-top: 150px;
  background-color: white;
  padding: 40px;
  border-radius: 15px;
}

.button_format_sign_in,
.button_format_sign_up {
  background-color: #ff5a5f;
  border-color: #ff5a5f;
}

.button_format_sign_in:hover,
.button_format_sign_up:hover {
  background-color: #ff5a5f;
  border-color: #ff5a5f;
}

.btn-success:active:focus {
  background-color: #00a699;
  border-color: #00a699;
}
