* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
}

.nav_sign_up,
.nav_sign_in {
  margin-left: -150px;
  margin-right: -150px;
}

.signup_container {
  margin-top: 50px;
  background-color: white;
  padding: 40px;
  border-radius: 15px;
}

.signin_container {
  margin-top: 120px;
  background-color: white;
  padding: 40px;
  border-radius: 15px;
}

.button_format_sign_in,
.button_format_sign_up {
  background-color: #ff5a5f;
  border-color: #ff5a5f;
}

.button_format_sign_in:hover,
.button_format_sign_up:hover {
  background-color: #ff5a5f;
  border-color: #ff5a5f;
}

.btn-success:active:focus {
  background-color: #00a699;
  border-color: #00a699;
}

.img_profile_container {
  text-align: center;
}

.image_profile {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.update_profile_picture {
  margin-top: 15px;
}

.update_profile_picture_link {
  color: black;
}

.legal_name_profile {
  margin-top: 15px;
}

.actual_legal_name_profile,
.email_profile,
.phone_number_profile {
  margin-top: -15px;
}

.legal_name_summary,
.email_address_summary,
.phone_number_summary {
  list-style-type: none;
}

.save_button_profile {
  margin-top: 10px;
}

#back_button_update_photo {
  margin-top: 10px;
}
